h1{
  font-size: 80px;
  font-family: Impact;

}
  p{
    font-size: 35px;
   
  }
  
  .demo{
    width: 70px;
    transition: all 0.5s;
    margin:  25px 0px;
    cursor: pointer;
   

  }
  .demo:hover{

   transform: scale(1.3);


  }

  .fonte-fam{
    font-family: "Edu AU VIC WA NT Pre", cursive;
  }
  .fonte-fam #demo2{
    font-family: "Sour Gummy", sans-serif;
  }